.bluearea {
    padding-top: 25px;
    padding-bottom: 1%;
    background-color: #2044d5;
    color: #f5f2eb;
    margin-top: 400px;
}

.bluearea h1 {
    padding-bottom: 20px;
}

#accordionExample {
    margin: auto;
    width: 50%;
}

.accordion-item {
    background-color: #2044d5;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    /* border-color: rgb(187, 186, 183); */
    font-size: 20px;

}

.accordion-header {
    /* border-left:none; */
    padding-left: 0%;
    width: 100%;

}

.accordion-button {
    background-color: #2044d5;
    border: 1px solid rgb(86, 112, 216);
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 20px;

    color: rgb(245, 242, 235);
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #2044d5;
    color: rgb(245, 242, 235);
    box-shadow: none;
    /* padding-top: 2%; */
}

.accordion-button:focus {

    box-shadow: none;
    border: 1px solid rgb(86, 112, 216);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.accordion-button::after {
    background-image: url('../../assets/images/capture.png');
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../../assets/images/capture.png');
}

.accordion-item {
    color: rgb(245, 242, 235);
}