#logo {
    position: absolute;
    left: 20px  ;
    top: 2%;
    width: 210px;
}

.walletButton {
    position: absolute;
    right: 3%;
    top: 2%;
    padding: 7px 16px;
    background-color: white;
    border: 2px solid #3b4e92;
    border-radius: 5px;
    color: #254cdd;
    height: 60px;
    font-size: 20px;
}

#searchbar {
    padding-top: calc(2% + 80px);
    text-align: center;
}

#newrow {
    display: flex;
    justify-content: center;
}

#yourdomains {
    position: absolute;
    right: 6%;
    text-align: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    -webkit-box-align: center;
    background-color: #2951f1;
    color: white;
    font-size: 16px;
    border: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #061c75;

}

.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

#ox {
    border-radius: 30px;
    height: 50px;
    /* border: 1px solid #254cdd ; */
    color: #254cdd;
    background-color: #e9ebf0;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 70px;
    font-family: Rubik, sans-serif;
    text-align: center;
}

#error {
    color: #ef1111;
    margin-top: 2%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#greentext {
    font-size: 50px;
    /* font-style: oblique; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(170, 255, 41);
    text-align: left;
    margin-left: 28%;
    width: 34%;
    /* padding-left: 30%; */
}

#newr {
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}

#buyfrom {
    color: #ef1111;
    /* margin-top: 2%; */
    /* margin-left: 8%; */
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    /* position:absolute; */
}

#buybut {
    margin-left: 20px;
    background-color: #2951f1;
    color: white;
    /* position: absolute; */
    /* right: 650px; */
    font-size: 20px;
    border: none;
    border-radius: 20px;
    height: 40px;
    min-width: 100px !important;
}

#success {
    /* color: rgb(127 186 38); */
    color: #254cdd;
    margin-top: 2%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}


.searched_domain {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.drow {
    display: flex;
    justify-content: center;
}

.input_domain {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    /* border-bottom-style: groove; */
    font-size: 20px;
    width: 34%;
    background-color: rgb(232, 232, 232);
    border-color: rgba(201, 201, 214, 0.826);
    line-height: 60px;
    color: rgb(23, 22, 22);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 70px;
    padding-left: 2%;
    /* padding-top: 0px; */
    /* margin-top: 10px; */
}

.searched_domain h3 {
    width: inherit;
    padding-top: 0;
    margin-bottom: 0px;
}

/* #success a {
    text-decoration: none;
} */